.button{
    margin: 1rem;
    width: 20rem;
}

.page-top {
    position: relative;
  }
  
  .notification {
    position: absolute;
    padding: 20px;
    background-color: #f44336;
    color: white;
    top: 1rem;
    right: 1rem;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  